@model IEnumerable<MVC_Day3_SD43_Task2.Models.Emp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create","", new { @class = "btn btn-success" })
</p>
<p>
    @Html.ActionLink("Home", "Index", "", new { @class = "btn btn-info" })
</p>
<form action="/Employee/Index" method="post">

    <input type="text" name="search" value="" class="form-control mb-3" width="900" placeholder="Type Employee First Name" />
    <input type="submit" value="Get Search Result" class="btn btn-danger" />
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpLname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpHDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CtyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dept.DeptName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpLname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpHDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CtyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dept.DeptName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpID },new {@class="btn btn-primary"}) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpID },new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
